<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="ManageUsers.aspx">
		<system.web>
			<authorization>
				<!--Negando acesso para todo utilizador nao autenticado-->
				<allow roles="Admin" />
				<deny users="*" />
				<!--Somente permite os utilizados da role admin-->
				<!--
				<deny users="*" />-->
				<!--Nega o restante dos utilizador-->
			</authorization>
		</system.web>
	</location>
</configuration>