<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="NovoIngrediente.aspx">
		<system.web>
			<authorization>
				<!--Negando acesso para todo utilizador nao autenticado-->
				<deny users="?" />
				<!--Somente permite os utilizados da role admin-->
				<!--
				<deny users="*" />-->
				<!--Nega o restante dos utilizador-->
			</authorization>
		</system.web>
	</location>
	<location path="Receita.aspx">
		<system.web>
			<authorization>
				<!--Negando acesso para todo utilizador nao autenticado-->
				<deny users="?" />
				<!--Somente permite os utilizados da role admin-->
				<!--
				<deny users="*" />-->
				<!--Nega o restante dos utilizador-->
			</authorization>
		</system.web>
	</location>
	<location path="ReceitaIngredientes.aspx">
		<system.web>
			<authorization>
				<!--Negando acesso para todo utilizador nao autenticado-->
				<deny users="?" />
				<!--Somente permite os utilizados da role admin-->
				<!--
				<deny users="*" />-->
				<!--Nega o restante dos utilizador-->
			</authorization>
		</system.web>
	</location>
</configuration>